@import url("josh-c-styles.css");

:root {
    /*Variables here*/
}

* {
    box-sizing: border-box;
    font-family: "Ubuntu-Sans", sans-serif;
}

/*======Base======*/

body {
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;

    background-color: antiquewhite;
}

.site-wrapper {
    display: grid;
    grid-template-rows: 150px 1fr 150px;
    grid-template-columns: 1fr;

    width: clamp(300px, 100%, 1000px);
    height: 100%;
}

/*======Header Section======*/

header {
    background-color: aquamarine;
    grid-row: 1/2;
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.header-heading {
    justify-self: center;
    align-self: center;

    grid-row: 1/3;
}

.header__add-book {
    grid-row: 2/3;
    grid-column: 2/3;

    height: 3rem;
    width: 10rem;

    align-self: center;
    justify-self: center;
}

/*======Book Cards Section======*/

.library-cards {
    background-color: bisque;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem); /*Card width*/
    grid-auto-rows: 40.5rem; /*Card height*/
    gap: 1rem;

    justify-content: center;

    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
}

.book-card {
    width: 100%;
    height: 100%;
    background-color: white;

    display: grid;
    grid-template-rows: 4fr 1.5fr 0.4fr;
    grid-template-columns: 1fr;

    position: relative;
}

.book-card__image {
    margin: auto;
}

.book-card__image > img {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
}

.book-card__text {
    padding: 1rem;
    grid-row: 2/3;
}

.book-card__text--center {
    grid-row: 1/3;
}

.book-notes {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.book-notes--more-room {
    -webkit-line-clamp: 10;
    line-clamp: 10;
}

.book-card__text > p:last-of-type {
    display: inline;
}

.delete-wrapper {
    grid-row: 3/4;
    align-content: center;
    padding-right: 1rem;
}

.book-card__delete {
    background-color: tomato;
    border: none;
    border-radius: 20%;
    width: 5rem;
    height: 2rem;
    float: right;
}

footer {
    background-color: aqua;
    grid-row: 3/4;
}

/*======Dialog======*/

dialog {
    margin: auto;
}

/*======Utils======*/

.testing {
    background: magenta;
    width: 100px;
    height: 100px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}